*{
    font-style: Verdana;
}
.navbar .in .nav li {
    display: block;
    float: none;
    width:100%;
 }
 .three-div{
    width: 100%;
    height: auto;
    margin: 100px 0;
    
  }
.three-div img{
    width: 100%;
    height: 210px;
}
